<section class="section_offset_2 image_bg_3" id="pricing_tables_container">
	<div class="container">
		<h1 class="color_light fw_light m_bottom_15 t_align_c" data-appear-animation="bounceInUp">{{.Get `expository`}}</h1>
		<h4 class="m_bottom_35 t_align_c color_light" data-appear-animation="bounceInUp" data-appear-animation-delay="200">{{.Get `focus`}}</h4>
	</div>
	<div style="display: flex; justify-content: center;">
        <a href="/sermons/#audio" role="button" class="tt_uppercase button_type_3 r_corners fs_medium d_block f_left m_right_10 tr_all">{{.Get `listen`}}</a>
    </div>
</section>