<!--Variables-->

{{ $1st_icon := "icon-user-1" }}
{{ $2nd_icon := "icon-book-1" }}
{{ $3rd_icon := "icon-globe-1" }}
{{ $4th_icon := "icon-help-1" }}

<!--Variables-->

<section class="section_offset">
    <div class="container t_align_c">
        <h3 class="color_dark fw_light m_bottom_15" data-appear-animation="bounceInLeft">{{.Get `learn`}}</h3>
        <p class="m_bottom_35" data-appear-animation="bounceInLeft" data-appear-animation-delay="150"></p>
        <div class="row t_align_c">
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
                <figure data-appear-animation="fadeInUp">
                    <div class="icon_wrap_size_6 type_2 circle color_blue d_inline_m animation_fill relative m_bottom_20">
                        <i class="{{$1st_icon}} tr_all"></i>
                    </div>
                    <figcaption>
                        <h5 class="color_dark m_bottom_15">{{.Get `team`}}</h5>
                        <p class="m_bottom_23"></p>
                        <a href="/our_pastor" class="button_type_2 color_dark r_corners fs_medium color_blue_hover tr_all d_inline_b">{{.Get `more`}}</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
                <figure data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                    <div class="icon_wrap_size_6 type_2 circle color_pink d_inline_m animation_fill relative m_bottom_20">
                        <i class="{{$2nd_icon}} tr_all"></i>
                    </div>
                    <figcaption>
                        <h5 class="color_dark m_bottom_15">{{.Get `beliefs`}}</h5>
                        <p class="m_bottom_23"></p>
                        <a href="/what_we_believe" class="button_type_2 color_dark r_corners fs_medium color_pink_hover tr_all d_inline_b">{{.Get `more`}}</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <figure data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                    <div class="icon_wrap_size_6 type_2 circle color_purple d_inline_m animation_fill relative m_bottom_20">
                        <i class="{{$3rd_icon}} tr_all"></i>
                    </div>
                    <figcaption>
                        <h5 class="color_dark m_bottom_15">{{.Get `location`}}</h5>
                        <p class="m_bottom_23"></p>
                        <a href="https://www.google.com/maps/dir/35.9437496,-79.0306025/Rocky+Mountain+Bible+Church,+659+N+Main+St,+Brigham+City,+UT+84302/@37.265702,-113.5745275,4z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x87537b1a7498a67d:0xa3b71a5d9e6e6493!2m2!1d-112.0162437!2d41.5241526" target="_blank" class="button_type_2 color_dark r_corners fs_medium color_purple_hover tr_all d_inline_b">{{.Get `more`}}</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30" style="padding-top: 2rem;">
                <figure data-appear-animation="fadeInUp">
                    <div class="icon_wrap_size_6 type_2 circle color_pink d_inline_m animation_fill relative m_bottom_20">
                        <i class="{{$4th_icon}} tr_all"></i>
                    </div>
                    <figcaption>
                        <h5 class="color_dark m_bottom_15">{{.Get `expect`}}</h5>
                        <p class="m_bottom_23"></p>
                        <a href="/what_to_expect" class="button_type_2 color_dark r_corners fs_medium color_pink_hover tr_all d_inline_b">{{.Get `more`}}</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>