<section class="page_title translucent_bg_color_scheme image_fixed image_bg_14 t_align_c relative wrapper">
    <div class="container">
        <h1 class="color_light fw_light m_bottom_5" style="padding: 1rem;">Ministries</h1>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle`}}</h3>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle2`}}</h3>
        <!--breadcrumbs-->
    </div>
</section>

<section class="section_offset p_bottom_0" style="padding-bottom: 2rem;">
    <div class="container">
        <h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c" style="padding-bottom: 2rem;">We Have A Place For You</h3>
        <div class="row" style="padding-bottom: 2rem;">
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <a href="/kids_ministry"><img src="/images/placeholder.370x250.jpg" alt=""></a>
                </div>
                <h4 class="m_bottom_10 t_xs_align_l">Kids</h4>
                <br>
                <h5 class="t_xs_align_l"><b>Nursery</b><br><br>ages 0-2 / every service</h5>
                <br>
                <h5 class="t_xs_align_l"><b>Children's Church</b><br><br>ages 3+ / during the sermon</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <a href="/ladies_ministry"><img src="/images/placeholder.370x250.jpg" alt=""></a>
                </div>
                <h4 class="m_bottom_10 t_xs_align_l">Ladies</h4>
                <br>
                <h5 class="t_xs_align_l"><b>Fellowship and Prayer</b><br><br>Ladies from RMBC and Grace Bible Church get together in a home to share a verse and pray. Times vary depending on the time of year.</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <a href="/mens_ministry"><img src="/images/placeholder.370x250.jpg" alt=""></a>
                </div>
                <h4 class="m_bottom_10 t_xs_align_l">Men</h4>
                <br>
                <h5 class="t_xs_align_l">Men meet bi-weekly for Bible study at the church.</h5>
            </div>
        </div>
    </div>
</section>

<section class="section_offset p_bottom_0" style="padding-bottom: 2rem; background-color: #A3B69C;">
    <div class="container">
        <h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c" style="padding-bottom: 2rem; color: white;">Ministries We Support</h3>
        <div class="row" style="padding-bottom: 2rem;">
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <a href="https://www.pbcutah.com/" target="_blank"><img src="/images/pbc.jpg" alt="Pioneer Bible Camp"></a>
                </div>
                <h4 class="m_bottom_10 t_xs_align_l" style="color: white;">Pioneer Bible Camp</h4>
                <br>
                <h5 class="t_xs_align_l" style="color: white;">"Pioneer Bible Camp exists to introduce people of all ages to Jesus Christ as Savior and to disciple and encourage believers in their Christian Walk."</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <a href="https://www.keyradio.org/" target="_blank"><img src="/images/kr.jpg" alt="Key Radio">
                </div>
                <h4 class="m_bottom_10 t_xs_align_l" style="color: white;">Key Radio</h4>
                <br>
                <h5 class="t_xs_align_l" style="color: white;">"Key Radio's purpose is simple - to proclaim the Good News of Jesus Christ throughout Utah and beyond.  This was the mission of Key Radio since it changed to a Christian talk format back in 1988, and it is the same today. Yes, that Good News is that good"</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <a href="https://www.pccbc.org/" target="_blank"><img src="/images/pcc.jpg" alt="Pregnancy Care Center"></a>
                </div>
                <h4 class="m_bottom_10 t_xs_align_l" style="color: white;">Pregnancy Care Center</h4>
                <br>
                <h5 class="t_xs_align_l" style="color: white;">The Pregnancy Care Center in Brigham City seeks to provide help for stressful pregnancies and resources for parents and soon-to-be parents.</h5>
            </div>
        </div>
    </div>
</section>