<section class="page_title translucent_bg_color_scheme image_fixed image_bg_14 t_align_c relative wrapper">
    <div class="container">
        <h1 class="color_light fw_light m_bottom_5" style="padding: 1rem;">Ministries</h1>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle`}}</h3>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle2`}}</h3>
        <!--breadcrumbs-->
    </div>
</section>

<section class="section_offset p_bottom_0" style="padding-bottom: 2rem;">
    <div class="container">
        <h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c" style="padding-bottom: 2rem;">We Have A Place For You</h3>
        <div class="row" style="padding-bottom: 2rem;">
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <img src="/images/kids_ministry.jpg" alt="Kids' Ministry">
                </div>
                <h4 class="m_bottom_10 t_xs_align_l">Kids' Ministry</h4>
                <br>
                <h5 class="t_xs_align_l"><b>Nursery</b><br><br>ages 0-4 | during the sermon</h5>
                <br>
                <h5 class="t_xs_align_l"><b>Children's Church</b><br><br>ages 5+ | during the sermon</h5>
                <br>
                <h5 class="t_xs_align_l">During nursery and children’s church, we have singing, an engaging, age-appropriate lesson, and a fun activity or craft.</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <img src="/images/placeholder.370x250.jpg" alt="">
                </div>
                <h4 class="m_bottom_10 t_xs_align_l">Ladies' Ministry</h4>
                <br>
                <h5 class="t_xs_align_l">Women meet bi-weekly at 4pm for our Digging Deeper Bible study at <a href="https://www.google.com/maps/dir/35.9437496,-79.0306025/530+South+500+West,+Brigham+City,+UT/@36.0920694,-106.0223213,5z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x87537ac20c05c72b:0xea07d3aa3490a6d2!2m2!1d-112.0241862!2d41.4999236" target="_blank">530 S 500 W in Brigham City</a>. Join us for a time of fellowship, prayer, and digging into God’s Word! We also have periodic women’s activities.<br><br>Childcare is provided.</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <img src="/images/mens_ministry.jpg" alt="Men's Ministry">
                </div>
                <h4 class="m_bottom_10 t_xs_align_l">Men's Ministry</h4>
                <br>
                <h5 class="t_xs_align_l">Men meet bi-weekly at 6pm for our Digging Deeper Bible study at <a href="https://www.google.com/maps/dir/35.9437496,-79.0306025/530+South+500+West,+Brigham+City,+UT/@36.0920694,-106.0223213,5z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x87537ac20c05c72b:0xea07d3aa3490a6d2!2m2!1d-112.0241862!2d41.4999236" target="_blank">530 S 500 W in Brigham City</a>. Join us for a time of fellowship, prayer, and digging into God’s Word! We also have periodic men’s activities.</h5>
            </div>
        </div>
    </div>
</section>

<section class="section_offset p_bottom_0" style="padding-bottom: 2rem; background-color: #A3B69C;">
    <div class="container">
        <h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c" style="padding-bottom: 2rem; color: white;">Ministries We Support</h3>
        <div class="row" style="padding-bottom: 2rem;">
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <a href="https://www.pbcutah.com/" target="_blank"><img src="/images/pbc.jpg" alt="Pioneer Bible Camp"></a>
                </div>
                <h4 class="m_bottom_10 t_xs_align_l" style="color: white;">Pioneer Bible Camp</h4>
                <br>
                <h5 class="t_xs_align_l" style="color: white;">"Pioneer Bible Camp exists to introduce people of all ages to Jesus Christ as Savior and to disciple and encourage believers in their Christian Walk."</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <a href="https://www.keyradio.org/" target="_blank"><img src="/images/kr.jpg" alt="Key Radio">
                </div>
                <h4 class="m_bottom_10 t_xs_align_l" style="color: white;">Key Radio</h4>
                <br>
                <h5 class="t_xs_align_l" style="color: white;">"Key Radio's purpose is simple - to proclaim the Good News of Jesus Christ throughout Utah and beyond.  This was the mission of Key Radio since it changed to a Christian talk format back in 1988, and it is the same today. Yes, that Good News is that good"</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30 t_xs_align_c">
                <div class="r_corners wrapper m_bottom_20 d_xs_inline_b d_mxs_block">
                    <a href="https://www.pccbc.org/" target="_blank"><img src="/images/pcc.jpg" alt="Pregnancy Care Center"></a>
                </div>
                <h4 class="m_bottom_10 t_xs_align_l" style="color: white;">Pregnancy Care Center</h4>
                <br>
                <h5 class="t_xs_align_l" style="color: white;">The Pregnancy Care Center in Brigham City seeks to provide help for stressful pregnancies and resources for parents and soon-to-be parents.</h5>
            </div>
        </div>
    </div>
</section>