<section class="page_title translucent_bg_color_scheme image_fixed image_bg_14 t_align_c relative wrapper">
    <div class="container">
        <h1 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_title`}}</h1>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle`}}</h3>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle2`}}</h3>
        <!--breadcrumbs-->
    </div>
</section>

<section class="section_offset">
    <div class="container clearfix">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
                <!--person team-->
                <figure class="t_align_c">
                    <img src="/images/our_pastor.jpg" alt="" class="r_corners m_bottom_23">
                    <figcaption>
                        <h4 class="m_bottom_5"><a href="#" class="color_dark">Zachary Sigmon</a></h4>
                        <i class="color_grey fs_medium d_inline_b m_bottom_5">Pastor</i>
                        <p class="m_bottom_15">Zack grew up in North Carolina and attended college at Bob Jones University, where he met his lovely wife Angie. After several years preparing for ministry, Zack and Angie moved to Brigham City, UT, in the summer of 2020. Zack became interim pastor at Rocky Mountain Bible Church in 2022. He and Angie have two wonderful children, Ruth and Judah.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
            </div>
        </div>
    </div>
</section>