<section class="section_offset relative bg_light_2">
	<div class="container" style="display:flex; justify-content: center; flex-direction: column;">
        <h3 class="color_dark fw_light m_bottom_15 t_align_c" data-appear-animation="bounceInLeft" style="padding: 1rem;">{{.Get `mseries`}}</h3>
        <a href="/get_started"><img src="/images/romans.jpg" alt=""></a>
        <div style="display: flex; justify-content: center;">
            <h4 style="padding: 1rem;"><a href="/get_started" class="color_green fs_medium button_type_3 tr_all r_corners tt_uppercase d_inline_b">{{.Get `join_live`}}</a></h4>
        </div>
    </div>
</section>