<section class="page_title translucent_bg_color_scheme image_fixed image_bg_14 t_align_c relative wrapper">
    <div class="container">
        <h1 class="color_light fw_light m_bottom_5" style="padding: 1rem;">Sermons</h1>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle`}}</h3>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle2`}}</h3>
        <!--breadcrumbs-->
    </div>
</section>

<section id="video" style="padding: 2rem;">
    <div class="container t_align_c" style="padding: 2rem;">
        <h1>Most Recent Sermon WIll Go Here</h1>
    </div>
    <div style="max-width: 50%;" class="container t_align_c">
        <div class="iframe_video_wrap">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=UUGvIpRofDF5nACqkx9UAuHQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="audio" style="padding: 2rem;">
    <div class="container t_align_c" style="padding: 2rem;">
        <h1>Audio Recordings Will Go Here</h1>
    </div>
    <div style="max-width: 50%;" class="container t_align_c">
        <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/us/podcast/the-chapel-podcast/id1467988699"></iframe>
    </div>
</section>

<section id="livestream" style="padding: 2rem;">
    <div class="container t_align_c" style="padding: 2rem;">
        <h1 style="padding-bottom: 1.5rem;">Your Live Stream Will Go Here</h1>
        <h4>We are live every Sunday at 10:15am</h4>
    </div>
    <div style="max-width: 50%;" class="container t_align_c">
        <div class="iframe_video_wrap">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=UUGvIpRofDF5nACqkx9UAuHQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>