<section class="section_offset bg_light_2" data-appear-animation="fadeInUp" id="services">
    <div class="container t_align_c">
        <h1 class="color_dark fw_light m_bottom_15">{{.Get `welcome`}}</h1>
        <h4 style="padding: 1rem;">{{.Get `sunday`}} | {{.Get `sunday_time`}}</h4>
        <a href="https://www.google.com/maps/place/Rocky+Mountain+Bible+Church/@41.5241566,-112.0184324,17z/data=!3m1!4b1!4m5!3m4!1s0x87537b1a7498a67d:0xa3b71a5d9e6e6493!8m2!3d41.5241526!4d-112.0162437" target="_blank"><h5 style="padding: 1rem;">{{.Get `address`}}</h5></a>
    </div>
</section>