<section class="page_title translucent_bg_color_scheme image_fixed image_bg_14 t_align_c relative wrapper">
    <div class="container">
        <h1 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_title`}}</h1>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle`}}</h3>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle2`}}</h3>
        <!--breadcrumbs-->
    </div>
</section>

<section class="section_offset bg_light_2">
    <div class="container counter">
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine1`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine2`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine3`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine4`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine5`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine6`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine7`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine8`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine9`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine10`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine11`}}</h3>
            </div>
        </div>
        <div class="row step">
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step image-->
                <div class="step_img_container counter_inc">
                    <div class="d_table">
                        <!--counter-->
                        <div class="d_table_cell v_align_m color_purple step_counter t_align_c tr_all"></div>
                    </div>
                </div>
            </div>
            <div class="m_xs_bottom_30 m_bottom_40" style="padding-left: 2rem;">
                <!--step description-->
                <h3 class="fw_light color_dark m_bottom_15 tr_all">{{.Get `doctrine12`}}</h3>
            </div>
        </div>
</section>