<section class="page_title translucent_bg_color_scheme image_fixed image_bg_14 t_align_c relative wrapper">
    <div class="container">
        <h1 class="color_light fw_light m_bottom_5" style="padding: 1rem;">What To Expect</h1>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle`}}</h3>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle2`}}</h3>
        <!--breadcrumbs-->
    </div>
</section>

<section class="section_offset">
    <div class="container clearfix">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
                <!--person team-->
                <figure class="t_align_c">
                    <img src="/images/pastor_headshot.jpg" alt="" class="r_corners m_bottom_23">
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 m_xs_bottom_30">
            </div>
        </div>
        <p style="font-size: x-large;">{{.Get `content1`}}</p>
        <br>
        <p style="font-size: x-large;">{{.Get `content2`}}</p>
        <br>
        <p style="font-size: x-large;">{{.Get `content3`}}</p>
        <br>
        <p style="font-size: x-large; margin-left: 20px; padding-bottom: 2.5rem;">{{.Get `content4`}}</p>
        <p style="font-size: x-large; margin-left: 20px; padding-bottom: 2.5rem;">{{.Get `content5`}}</p>
        <p style="font-size: x-large; margin-left: 20px; padding-bottom: 2.5rem;">{{.Get `content6`}}</p>
        <p style="font-size: x-large; margin-left: 40px; padding-bottom: 2.5rem;">{{.Get `content7`}}</p>
        <p style="font-size: x-large; margin-left: 40px; padding-bottom: 2.5rem;">{{.Get `content8`}}</p>
        <br>
        <p style="font-size: x-large;">{{.Get `content9`}}</p>
        <br>
        <p style="font-size: x-large; padding-bottom: 1rem;">{{.Get `content10`}}</p>
        <p style="font-size: x-large;">{{.Get `content11`}}</p>
    </div>
</section>