<section class="section_offset image_bg_7" id="how_it_works">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 m_sm_bottom_30" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                <div class="iframe_video_wrap">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=UUGvIpRofDF5nACqkx9UAuHQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-md-6" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                <h3 class="color_light fw_light m_bottom_40 m_xs_top_0">{{ .Get `livestream` }}</h3>
                <p class="fs_large fw_light color_light m_bottom_25">{{ .Get `no_problem` }}</p>
                <p class="fs_large fw_light color_light m_bottom_25">{{ .Get `live_now` }}</p>
                <a href="/get_started" class="color_green fs_medium button_type_3 tr_all r_corners tt_uppercase d_inline_b">{{.Get `join`}}</a>
            </div>
        </div>
    </div>
</section>