<section class="section_offset bg_light_2" id="how_it_works">
    <div class="container">
        <div class="row" style="display: flex; flex-direction: column;">
            <div data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                <div class="iframe_video_wrap">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=UU5GD2gQ9ArDK_VlWwlbQ4wA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-offset-1" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="display: flex; justify-content: center; ">
                <a href="https://www.youtube.com/channel/UC5GD2gQ9ArDK_VlWwlbQ4wA" target="_blank" class="color_green fs_medium button_type_3 tr_all r_corners tt_uppercase d_inline_b">{{.Get `join`}}</a>
            </div>
        </div>
    </div>
</section>